.python-version
*.egg-info/

# JetBrains / PyCharm
*.iml
.idea/misc.xml
.idea/**

# If you want to share some IDE settings, you can un-ignore selectively:
# !.idea/codeStyles/
# !.idea/inspectionProfiles/
# !.idea/runConfigurations/
# !.idea/vcs.xml

# Don't check in the below in an environment managed by UV.
requires.txt
requirements.txt

**/karate-reports/